.ClassPostList {
    box-sizing: border-box;
    width: calc(var(--x-position));
    height: calc(100% - var(--y-position));
    padding: 10px;
    border: 1px solid black;
    overflow: scroll;
    // display: inline-block;
}