@import '../app/variables.scss';
.ClassUserList {
    box-sizing: border-box;
    width: calc(100% - var(--x-position));
    height: calc(var(--y-position));
    padding: 10px;
    border: 1px solid black;
    overflow: scroll;
    // display: inline-block;
    >button {
        font-size: 22px;
        margin-top: 15px;
        padding: 5px 10px;
    }
}