@import '../app/variables.scss';
.ClassCreatePost {
    box-sizing: border-box;
    width: calc(var(--x-position));
    height: calc(var(--y-position));
    padding: 10px;
    border: 1px solid black;
    overflow: scroll;
    >button {
        display: block;
        font-size: 22px;
        margin: 15px auto 0;
        padding: 5px 10px;
    }
}