.ClassTestPage {
    box-sizing: border-box;
    width: calc(100% - var(--x-position));
    height: calc(100% - var(--y-position));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    overflow: scroll;
    // display: inline-block;
    >h2 {
       font-size: 36px;
    }
}