@import '../app/variables.scss';
.ClassCreatePost {
    box-sizing: border-box;
    width: calc(var(--x-position));
    height: calc(var(--y-position));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    overflow: scroll;
    // display: inline-block;
    >button {
        font-size: 22px;
        margin-top: 15px;
        padding: 5px 10px;
    }
}