@import '../app/variables.scss';
.control_point {
    position: absolute;
    top: var(--y-position);
    left: var(--x-position);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: brown;
    cursor: pointer;
}