.userPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userBlock {
    max-width: 700px;
    border: 3px solid #000000;
    padding: 10px;
    background-color: aliceblue;
    width: 100%;
}

.userInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    h2 {
        margin: 20px 0 5px;
    }
    p {
        margin: 5px 0;
    }
}