.userInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.userInfo h2 {
  margin: 20px 0 5px;
}

.userInfo p {
  margin: 5px 0;
}
