.App {
    box-sizing: border-box;
    min-height: 100vh;
    height: 100%;
    >h2 {
        text-align: center;
        font-size: 30px;
    }
    padding-bottom: 20px;
}

.Page {
    margin: 20px auto 0;
    >div {
        margin: 0 auto;
    }
}
