.Header {
    border: 2px solid black;
    background-color: lightblue;
    padding-right: 40px;
    ul {
        display: flex;
        flex-direction: row;
        a {
            margin-left: 20px;
            text-decoration: none;
            color: black;
            &:active {
                color: black;
            }
            &:focus {
                color: black;
            }
            &:first-child {
                margin-left: 0;
            }
            li {
                list-style: none;
                font-size: 20px;
                cursor: pointer;
                display: flex;
                align-items: center;
                &:hover {
                    font-weight: bold;
                }
            }
        }
       
    }
}